@model CafeHub.Commons.Models.Product

@{
    ViewData["Title"] = "Delete Product";
}

<h1 class="text-center">Delete Product</h1>

<hr />

<h3 class="text-center">Are you sure you want to delete this product?</h3>

<div class="row justify-content-center">
    <div class="col-md-6">
        <h4>Product Details</h4>
        <hr />
        <dl class="row">
            <!-- Name Field -->
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <!-- Price Field -->
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Price)
            </dd>

            <!-- Description Field -->
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Description)
            </dd>

            <!-- Category Field -->
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
        </dl>

        <!-- Delete Form -->
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="form-group text-center">
                <input type="submit" value="Delete" class="btn btn-danger btn-lg" />
            </div>
        </form>
        <hr />
        <div class="text-center">
            <a asp-action="Index" class="btn btn-outline-primary btn-lg">Back to Product List</a>
        </div>
    </div>
</div>
