@model CafeHub.Commons.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<h1 class="text-center">Product Details</h1>

<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <dl class="row">
            <!-- Name Field -->
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <!-- Price Field -->
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Price)
            </dd>

            <!-- Description Field -->
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Description)
            </dd>

            <!-- Category Field -->
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
        </dl>
    </div>
</div>

<hr />

<div class="text-center">
    <!-- Edit and Back to List Links -->
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning btn-lg">Edit Product</a>
    <a asp-action="Index" class="btn btn-outline-primary btn-lg">Back to Product List</a>
</div>

